/*Reset for normalize  */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img{
  /* max-width: 100%; */
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

a {
  color: inherit;
  outline: 0;
}

a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
    text-decoration: none;
}

/* Base for the proyect itself */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3d3d3d;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  box-shadow: 0px 4px 12px #bdbdbd;
}

#header-img {
  width: 200px;
}

#nav-bar .navbar-right {
  display: flex;
  align-items: center;
}

#nav-bar .navbar-right .nav-link {
  margin-left: 30px;
}

#nav-bar .navbar-right .nav-link a:hover{
  color: #a3a3a3;
}

section{
  min-height: 300px;
  border: 0.5px dashed red;
}
